#inner-box{
    height: 250px;
    border-width:25px ;
    border-style:solid;
    border-color: rgb(62, 230, 126);
    background-color: rgb(86, 243, 175);
}   

#outner-box{
    background-color: teal;
    padding:50px;
    height:300px;
    width: 300  ;
}
.cat{
    width: 50%;
    border-radius: 50%;
    border: 10px solid purple;
    display: block;
    margin: 0 auto;
}