*{
    margin: 0;
    padding: 0;
}
.demo01{
    border: 4px solid black;
    padding: 150px;
    background-color: aqua;
    background-image: url('https://static.thairath.co.th/media/B6FtNKtgSqRqbnNsbJaqPSzScMT9erhNTjliOlWxzEbCGVta4anTyXIaTOek6aeH1Qxs8.webp');
    background-repeat: no-repeat;
    background-origin: content-box;
}

.box1{
    width: 250px;
    height: 50px;
    border: 10px solid orange;
    padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 80px;
    padding-right: 80px;
    display: grid;
    place-items: center;
}
.box2{
    width: 350px;
    height: 50px;
    margin:10px;
    border:5px solid blueviolet;
    padding: 80px;
    box-sizing: border-box;
}

